### Gradle ###
.gradle/
build/

### Kotlin ###
.kotlin

### IntelliJ IDEA ###
.idea/
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Claude Code ###
.claude
CLAUDE.md
